.container-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 0;
}

.list-name-text {
  font-weight: bold;
}

.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

.list-div {
  overflow: scroll;
  max-height: 50rem;
  width: 17%;

}
.card-div {
  padding: 0.25rem;
  margin: 0.5rem 0;
  border: 5px solid black;
  border-radius: 10px;
}

.add-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.card-details-container {
  position: absolute;
  z-index: 1;
  width: 50%;

}