.container-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list-name-text {
  font-weight: bold;
}

.list-div {
  overflow: scroll;
  max-height: 50rem;
}
.card-div {
  padding: 0.25rem;
  margin: 0.5rem 0;
  border: 5px solid black;
  border-radius: 10px;
}

.add-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

